

{% extends "general/template.html" %}
  {% block title %}  Vader Sentiment {% endblock %}
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
  {% block styles %}{% endblock %}
  {% block scripts_top %}
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
  {% endblock %}



{% block content %}


  
  <main role="main" class="inner cover">
    <div class="mb-5">
      <h1   hidden id="compound">Majority</h1>
      <span hidden id="positive" class="badge badge-success">Success</span>
      <span hidden id="neutral" class="badge badge-secondary">Secondary</span>
      <span hidden id="negative" class="badge badge-danger">Danger</span>
    </div>
    <h4 class="cover-heading mb-3">type anything</h4>
    <form id="inputForm">
      <div class="form-group">
        <textarea class="form-control my-textarea" id="inputText"></textarea>
      </div>
      <button type="submit" class="btn mt-3  btn-primary">Predict Sentiment</button>
    </form>
  </main>



  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Demo of <a href="https://github.com/cjhutto/vaderSentiment">VADER-Sentiment-Analysis</a> by <a href="https://twitter.com/sebvargas_">@sebvargas_</a></p>
    </div>
  </footer>

{% endblock %}
</body>
</html>