

{% extends "general/template.html" %}
{% block title %}  Review Voting {% endblock %}
  <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
{% block styles %}{% endblock %}
{% block scripts_top %}
  <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
{% endblock %}



{% block content %}

<div class="card my-card">
    <div class="card-header my-card-header">
     Rating {{rating}}
    </div>
    <div class="card-body my-card-body">
      <h5 class="card-title">{{summary}}</h5>
      <p class="card-text">{{text}}</p>
    </div>
  </div>







<footer class="mastfoot mt-auto">
  <div class="inner">
    <p><a href="https://twitter.com/sebvargas_">@sebvargas_</a></p>
  </div>
</footer>

{% endblock %}
</body>
</html>